@model IEnumerable<Proyecto.Models.Kardex>

@{
    ViewData["Title"] = "Index";
}


<div class="d-flex justify-content-between align-items-center mb-4">
    
    <h1 class="text-dark">Kardex</h1>

    
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
            Seleccionar Reporte
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li><a class="dropdown-item" asp-action="ProductoMasVendido">Producto Más Vendido</a></li>
            <li><a class="dropdown-item" asp-action="ProductoMenosVendido">Producto Menos Vendido</a></li>
        </ul>
    </div>
</div>


<div class="mb-4">
    <a asp-action="Create" class="btn btn-secondary">Agregar nuevo kardex</a>
</div>




<table class="table table-striped table-bordered table-hover">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaMovimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoMovimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inventario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Producto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JefeAlmacen)
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaMovimiento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TipoMovimiento.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Inventario.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Producto.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JefeAlmacen.Credencial)
                </td>
                <td class="text-center">
                    <!-- Botones de acción -->
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning btn-sm mr-2">Editar</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info btn-sm mr-2">Detalles</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
