@model IEnumerable<Proyecto.Models.Producto>

@{
    ViewData["Title"] = "Index";
}

<h1 class="mb-4">Productos</h1>

<p>
    <a asp-action="Create" class="btn btn-primary mb-3">Crear Nuevo</a>
</p>

<table class="table table-striped table-bordered">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecioCosto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecioVenta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaCreacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Proveedor)
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrecioCosto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrecioVenta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaCreacion.ToString("dd/MM/yyyy")) <!-- Formato de fecha -->
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cantidad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Categoria.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Proveedor.Id)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning btn-sm">Editar</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info btn-sm">Detalles</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm" onclick="return confirm('¿Estás seguro de que deseas eliminar este producto?');">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
