@model IEnumerable<Proyecto.Models.TipoPago>

@{
    ViewData["Title"] = "Index";
}

<h1 class="mb-4">Tipos de Pago</h1>

<p>
    <a asp-action="Create" class="btn btn-secondary">Agregar nuevo tipo de pago</a>
</p>

<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.tipo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Editar</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Detalles</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
